/* 
$color1: #EEE2DE;
$color2: #068DA9;
$color3: #7E1717;
$color4: #322C2B;
$color5: #FFB500;
$color6: #5E5250;
*/

$color1: #FFFFFF;
$color2: #2A9D8F;
$color3: #E76F51;
$color4: #1F1F1F;
$color5: #FFB500;
$color6: #5E5250;