.section {
    padding: 5vh 5vw;
    color: white;

    &__title {
        @include mobileH2;
    }

    &__item-title {
        @include mobileH3;
        text-align: center;
    }

    &__item-image {
        width: 50vw;
        height: 20vh;
        object-fit: cover;
        border-radius: 8px;
        @include boxShadow;
    }

    &__item-description {
        @include mobileP;

        text-align: center;
    }

    &__list {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 3vh;
        margin-bottom: 3vh;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        padding: 1vh 5vw;
        @include boxShadow;
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
        gap: 2vh;
    }

    &__item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }

    &__item-link-icon {
        width: 6vw;
        height: auto;
        margin-left: 3vw;
    }

    &__item-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include mobileP;
        font-weight: bold;
        background-color: $color5;
        color: black;
        border-radius: 8px;
        padding: 0.5vh 3vw;
        @include boxShadow;
    }

    &__item-prices {
        display: flex;
        gap: 3vw;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    &__item-price {
        align-items: center;
        @include mobileH3;
    }

    &__item-promo {
        @include mobileP;
        font-weight: bold;
        background-color: red;
        border-radius: 8px;
        padding: 0.3vh 2vw;
        width: fit-content;
    }

    &__item-price-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }

    &__more-link {
        text-decoration: underline;
        text-align: center;
        @include mobileH3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        transition: all 0.3s ease;
    }

    &__more-link-icone {
        width: 3vw;
        height: auto;
    }

    &__descriptions {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        gap: 2vh;

    }
}

.section--top-ventes {
    .section {
        &__title {
            color: $color4;
        }

        &__item:nth-child(odd) {
            background-color: $color2;
        }

        &__item:nth-child(even) {
            background-color: $color3;
        }

        &__more-link {
            color: $color4;
        }

        &__description {
            color: $color4;
            @include mobileP;


            strong {
                color: black;
            }
        }

    }
}

.section--promotions {
    background-color: $color4;

    .section {
        &__title {
            color: white;
        }

        &__item:nth-child(odd) {
            background-color: $color3;
        }

        &__item:nth-child(even) {
            background-color: $color1;

            .section__item-title,
            .section__item-description,
            .section__item-price {
                color: $color4;
            }
        }

        &__more-link {
            color: white;
        }

        &__description {
            @include mobileP;


            strong {
                color: $color1;
            }
        }

    }
}

/* Styles pour tablettes */
@media (min-width: 768px) {
    .section {

        &__title,
        &__descriptions {
            margin-left: 3vw;
            margin-right: 3vw
        }

        &__title {
            @include tabletH2;
        }

        &__item-title {
            @include tabletH3;
        }

        &__item-description {
            @include tabletP;
        }

        &__item-link {
            @include tabletP;
        }

        &__item-price {
            @include tabletH3;
        }

        &__item-promo {
            @include tabletP;
        }

        &__more-link {
            @include tabletH3;
            gap: 1vw;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3vw;
            justify-content: center;
        }

        &__item {
            flex: 0 0 calc(50% - 3vw);
        }

        &__item-image {
            width: 100%;
            height: 20vh;
        }

        &__item-link-icon {
            width: 4vw;
            margin-left: 1vw;
        }

        &__more-link-icone {
            width: 2vw;
            height: auto;
        }
    }

    .section--top-ventes {
        .section {
            &__description {
                @include tabletP;
            }

            &__item:nth-child(3) {
                background-color: $color3;
            }

            &__item:nth-child(4) {
                background-color: $color2;
            }
        }
    }

    .section--promotions {
        .section {
            &__description {
                @include tabletP;
            }

            &__item:nth-child(3) {
                background-color: $color1;

                .section__item-title,
                .section__item-description,
                .section__item-price {
                    color: $color4;
                }
            }

            &__item:nth-child(4) {
                background-color: $color3;

                .section__item-title,
                .section__item-description,
                .section__item-price {
                    color: white;
                }
            }
        }
    }
}

/* Styles pour desktop */
@media (min-width: 1024px) {
    .section {
        padding: 3vh 15vw;

        &__title {
            @include desktopH2;
        }

        &__item-title {
            @include desktopH3;
            text-align: inherit;
        }

        &__item-image {
            width: 10vw;
            height: 10vw;
        }

        &__item-description {
            @include desktopP;
            text-align: inherit;
        }

        &__list {
            margin-top: 3vh;
            display: flex;
            flex-direction: row;
            gap: 1vw;
            margin-bottom: 3vh;
            flex-wrap: wrap;
        }

        &__item {
            padding: 1vh 1vw;
            @include boxShadow;
            flex: 0 0 calc(50% - 3vw);
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__item-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2vh;
            gap: 2vw;
        }

        &__item-link-icon {
            width: 1.5vw;
            margin-left: 0.5vw;
        }

        &__item-link {
            @include desktopP;
            padding: 0.3vh 0.5vw;
            transition: all 0.3s ease;

            &:hover {
                background-color: #ffcf56;
                color: black;
            }
        }

        &__item-prices {
            gap: 1vw;
        }

        &__item-price {
            align-items: center;
            @include desktopH3;
        }

        &__item-promo {
            @include desktopP;
            padding: 0.1vh 0.3vw;
            right: -2vw;
        }

        &__item-price-wrapper {
            flex-direction: row;
            gap: 1vw;
            align-items: center;
        }

        &__more-link {
            @include desktopH3;
            gap: 1vw;
            margin-top: 3vh;

            &:hover {
                text-decoration: none;
            }
        }

        &__more-link-icone {
            width: 0.5vw;
        }
    }

    .section--top-ventes {
        .section {
            &__description {
                @include desktopP;
            }

            &__item:nth-child(3) {
                background-color: $color3;
            }

            &__item:nth-child(4) {
                background-color: $color2;
            }
        }
    }

    .section--promotions {
        .section {
            &__description {
                @include desktopP;
            }

            &__item:nth-child(3) {
                background-color: $color1;

                .section__item-title,
                .section__item-description,
                .section__item-price {
                    color: $color4;
                }
            }

            &__item:nth-child(4) {
                background-color: $color3;

                .section__item-title,
                .section__item-description,
                .section__item-price {
                    color: white;
                }
            }
        }
    }
}