@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans.ttf") format("truetype");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: #EEE2DE;
}

button {
  border-style: none;
  background: none;
  cursor: pointer;
}

.invisible {
  display: none;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.line-break {
  display: block;
}

.jump {
  margin-top: 2vh;
}

.bottom {
  margin-bottom: 5vh;
}

.center {
  text-align: center;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #322C2B;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 100;
  padding: 1vh 5vw;
}

/*=============== NAV ===============*/
.nav__burger, .nav__close {
  color: white;
}
.nav__logo img {
  height: 6vh;
  width: auto;
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__toggle {
  position: relative;
  width: 5vw;
  height: 5vh;
}
.nav__burger, .nav__close {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 6vw;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 8vh;
    width: 100%;
    height: 98vh;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: #322C2B;
    padding-top: 1vh;
  }
}
.nav__link {
  color: white;
  background-color: #322C2B;
  font-family: "OpenSans", sans-serif;
  font-size: 5vw;
  font-weight: bold;
  padding: 2vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

/* Show menu */
.show-menu {
  opacity: 1;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 5vw;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link {
  padding: 2vh 10vw;
  color: #322C2B;
  background-color: #EEE2DE;
  display: flex;
  align-items: center;
  gap: 2vh;
  font-family: "OpenSans", sans-serif;
  font-size: 5vw;
  transition: all 0.3s;
}

.dropdown__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Menu dropdown au clic */
.dropdown__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.dropdown__menu.open {
  max-height: 1000px;
}

/* Rotation de la flèche */
.dropdown__arrow {
  transition: transform 0.4s ease-in-out;
}

.dropdown__arrow.rotated {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 768px) {
  .nav__link {
    font-family: "OpenSans", sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
  }
  .dropdown__link {
    font-size: 2.5vw;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav__logo img {
    height: 6vh;
    width: auto;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    gap: 3vw;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    font-family: "OpenSans", sans-serif;
    font-size: min(1vw, 21px);
    font-weight: bold;
  }
  .nav__link:hover {
    background-color: transparent;
  }
  .nav__link--underline:hover {
    text-decoration: underline;
  }
  .dropdown__item {
    position: relative;
  }
  .dropdown__arrow {
    font-size: 1vw;
    opacity: 0.5;
  }
  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 8vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }
  .dropdown__link {
    padding: 2vh 1vw;
    font-family: "OpenSans", sans-serif;
    font-size: min(1vw, 21px);
    background-color: #322C2B;
    color: white;
  }
  .dropdown__link:hover {
    background-color: #068DA9;
    color: white;
  }
  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 6vh;
    pointer-events: initial;
    transition: top 0.3s;
  }
}
.footer {
  margin: 3vh 0;
  font-family: "OpenSans", sans-serif;
  font-size: 5vw;
  font-weight: bold;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}
.footer img {
  height: 6vh;
  width: auto;
}
.footer__link {
  color: #322C2B;
  text-decoration: underline;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .footer {
    font-family: "OpenSans", sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
  }
}
@media (min-width: 1024px) {
  .footer {
    font-family: "OpenSans", sans-serif;
    font-size: min(1vw, 21px);
    font-weight: bold;
  }
  .footer__list {
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
  }
  .footer__link:hover {
    text-decoration: none;
  }
}
.error-page {
  color: #322C2B;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 5vw;
}
.error-page__title, .error-page__message, .error-page__link, .error-page__logo {
  text-align: center;
}
.error-page__title {
  font-family: "OpenSans", sans-serif;
  font-size: 5.5vw;
  font-weight: bold;
}
.error-page__message, .error-page__link {
  font-family: "OpenSans", sans-serif;
  font-size: 3.5vw;
  line-height: 1.5;
}
.error-page__link, .error-page__link a {
  padding: 1vh 3vw;
}
.error-page__link a {
  color: black;
  background-color: #FFB500;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.error-page__logo-image {
  width: 30vw;
  height: auto;
}

@media (min-width: 768px) {
  .error-page {
    padding: 0 8vw;
  }
  .error-page__title {
    font-family: "OpenSans", sans-serif;
    font-size: 4vw;
    font-weight: bold;
  }
  .error-page__message, .error-page__link {
    font-family: "OpenSans", sans-serif;
    font-size: 2vw;
    line-height: 1.5;
  }
  .error-page__logo-image {
    width: 25vw;
  }
}
@media (min-width: 1024px) {
  .error-page {
    padding: 0 10vw;
  }
  .error-page__title {
    font-family: "OpenSans", sans-serif;
    font-size: min(2vw, 38.4px);
    font-weight: bold;
  }
  .error-page__message, .error-page__link {
    font-family: "OpenSans", sans-serif;
    font-size: min(1vw, 21px);
    line-height: 1.5;
  }
  .error-page__logo-image {
    width: 15vw;
  }
  .error-page__link a:hover {
    background-color: #ffcf56;
  }
}/*# sourceMappingURL=errors.css.map */