{% extends 'base.html.twig' %} {% block title %} Accueil {% endblock %} 
{% block stylesheets %} {% endblock %}
{% block javascripts %} {% endblock %}
{% block body %}

<p>DIRE QUE LES LIENS SONT DES LIENS AFFILIES</p>

{% endblock %}
    