{% extends 'base.html.twig' %} 

{% block title %} Erreur {% endblock %} 

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/errors.css') }}" /> {% endblock %} 

{% block content %}
<main class="error-page">
    <p class="error-page__logo">
        <a href="{{ path('home') }}" >
            <img src="{{ asset('images/logo_reperehub.webp') }}" alt="Accueil" class="error-page__logo-image" />
        </a>
    </p>
    
    <h1 class="error-page__title">Oups ! Une erreur s'est produite.</h1>

    <p class="error-page__message">
        Désolé, une erreur est survenue. Nous n'avons pas pu traiter votre demande. Veuillez réessayer plus tard ou retourner à la page d'accueil.
    </p>

    <p class="error-page__link">
        <a class="error-page__link" href="{{ path('home') }}" class="error-page__link-anchor">Retourner à l'accueil</a>
    </p>
</main>

{% endblock %}
